@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*================================= */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*================================= */
body {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px; }

/*================================= */
header .ca-cabecera {
  background-color: #0c8f87;
  -webkit-box-shadow: 0 10px 25px 0 #474b4d;
  box-shadow: 0 10px 25px 0 #474b4d; }
  header .ca-cabecera .ca-logo-slogan {
    margin-bottom: 4px; }
    header .ca-cabecera .ca-logo-slogan .logo-link {
      display: block;
      outline: none; }
      header .ca-cabecera .ca-logo-slogan .logo-link img.logo {
        width: auto;
        height: 102px;
        margin: 0px;
        padding: 0px; }

/* Caberece tel├®fonos */
header .ca-cabecera .tredes {
  display: inline-block;
  font-weight: 500; }
  header .ca-cabecera .tredes .t-cin {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.5em; }
    header .ca-cabecera .tredes .t-cin:hover {
      text-decoration: none; }
    header .ca-cabecera .tredes .t-cin .t-c {
      width: 100%; }
    header .ca-cabecera .tredes .t-cin .t-n {
      width: 100%;
      display: block;
      padding: 0px;
      margin: 0px; }
      header .ca-cabecera .tredes .t-cin .t-n:hover {
        color: #ffde00; }
      header .ca-cabecera .tredes .t-cin .t-n .t-i {
        margin-right: 10px;
        color: #ffde00; }

/*===== buscardor ======* */
header .ca-cabecera .ca-search-followers {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-grow: row;
  flex-wrap: wrap; }
  @media (min-width: 768px) {
    header .ca-cabecera .ca-search-followers {
      justify-content: flex-end; } }
  header .ca-cabecera .ca-search-followers .search {
    width: 100%;
    padding: 20px 0px 0px 0px;
    margin: 0px;
    text-align: right; }
  header .ca-cabecera .ca-search-followers .cuadro-redes {
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: right; }

/*======================= */
nav.sociales ul {
  list-style: none;
  display: flex;
  padding: 0px;
  justify-content: flex-end; }
  nav.sociales ul .sr-text {
    display: none; }
  nav.sociales ul li {
    margin-right: 10px; }
    nav.sociales ul li a {
      text-decoration: none;
      color: #ffde00;
      transition: 0.5s ease; }
      nav.sociales ul li a:hover {
        color: #ffffff; }
    nav.sociales ul li a::before {
      font-family: "FontAwesome";
      content: "";
      font-size: 1.5em;
      -webkit-font-smoothing: antialiased;
      text-decoration: none; }
    nav.sociales ul li a[href*="facebook.com"]::before {
      content: ""; }
    nav.sociales ul li a[href*="twitter.com"]::before {
      content: ""; }
    nav.sociales ul li a[href*="youtube.com"]::before {
      content: ""; }
    nav.sociales ul li a[href*="instagram.com"]::before {
      content: ""; }

input[type="text"],
input[type="tel"],
input[type="number"],
input[type="email"] {
  box-sizing: border-box;
  padding: 7px 10px;
  color: #ffde00;
  font-size: 0.9em;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #ffffff;
  font-weight: 300; }

textarea {
  box-sizing: border-box;
  padding: 7px 10px;
  color: #ffde00;
  font-size: 0.9em;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #ffffff;
  font-weight: 300; }

input[type="submit"],
input[type="button"],
button[type="submit"] {
  box-sizing: border-box;
  box-sizing: border-box;
  padding: 7px 10px;
  color: #ffde00;
  font-size: 0.9em;
  background: none;
  border-radius: 5px;
  border: none;
  font-weight: 300;
  cursor: pointer; }
  input[type="submit"]:hover,
  input[type="button"]:hover,
  button[type="submit"]:hover {
    color: #212121; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  color: #ffde00;
  font-weight: 600; }

/*# sourceMappingURL=estilo.css.map */
