*
  margin: 0
  padding: 0
  box-sizing: border-box
/*=================================*/
html,body
  margin: 0
  padding: 0
  box-sizing: border-box
/*=================================*/
body
  background-color: $blanco
  font-family: $fontopen
  font-size: 16px
/*=================================*/
header
  .ca-cabecera
    background-color: $verde
    -webkit-box-shadow: 0 10px 25px 0 #474b4d
    box-shadow: 0 10px 25px 0 #474b4d
    .ca-logo-slogan
      margin-bottom: 4px
      .logo-link
        display: block
        outline: none
        img.logo
          width: auto
          height: 102px
          margin: 0px
          padding: 0px
/* Caberece teléfonos*/
header
  .ca-cabecera
    .tredes
      display: inline-block
      font-weight: 500
      .t-cin
        display: flex
        flex-flow: column wrap
        justify-content: center
        align-items: center
        align-content: center
        text-align: center
        box-sizing: border-box
        width: 100%
        color: $blanco
        font-weight: 600
        font-size: 1.5em
        &:hover
          text-decoration: none
        .t-c
          width: 100%
        .t-n
          width: 100%
          display: block
          padding: 0px
          margin: 0px
          &:hover
            color: $amarillo
          .t-i
            margin-right: 10px
            color: $amarillo
/*===== buscardor ======**/
header
  .ca-cabecera
    .ca-search-followers
      width: 100%
      padding: 5px
      display: flex
      flex-grow: row
      flex-wrap: wrap
      @media (min-width: 768px)
        justify-content: flex-end
      .search
        width: 100%
        padding: 20px 0px 0px 0px
        margin: 0px
        text-align: right
      .cuadro-redes
        width: 100%
        padding: 0px
        margin: 0px
        text-align: right
/*=======================*/
nav.sociales ul
  list-style: none
  display: flex
  padding: 0px
  justify-content: flex-end
  .sr-text
    display: none
  li
    margin-right: 10px
    a
      text-decoration: none
      color: $amarillo
      transition: 0.5s ease
      &:hover
        color: $blanco
    a::before
      font-family: 'FontAwesome'
      content: '\f08e'
      font-size: 1.5em
      -webkit-font-smoothing: antialiased
      text-decoration: none
    a[href*="facebook.com"]
      &::before
        content: '\f09a'
    a[href*="twitter.com"]
      &::before
        content: '\f099'
    a[href*="youtube.com"]
      &::before
        content: '\f16a'
    a[href*="instagram.com"]
      &::before
        content: '\f16d'
